<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="Roy Guo的博客 : My Blog Under Github.com" />
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/main.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/pygments.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/stylesheet.css">
    <title>{{ page.title }}</title>

    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script>
        MathJax.Hub.Config({
              tex2jax: {
                skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
                inlineMath: [ ['$','$'], ["\\(","\\)"] ],
                processEscapes: true
              }
        });
        MathJax.Hub.Queue(function() {
            var all = MathJax.Hub.getAllJax(), i;
            for(i=0; i < all.length; i += 1) {
                all[i].SourceElement().parentNode.className += ' has-jax';
            }
        });
    </script>
  </head>

  <body>
    <div style="display:none;" class="back-to" id="toolBackTop">
      <a title="返回顶部" onclick="window.scrollTo(0,0);return false;" href="#top" class="back-top">返回顶部</a>
    </div>
    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/royguo">View on GitHub</a>
          <h1 id="project_title"><a id="home_link" href="/index.html">搜不狐</a></h1>
          <p id="sub-title">关于互联网、软件开发的热门话题</p>
        </header>
    </div>
    <div class="navbar">
      <div class="navbar-inner">
        <ul class="nav">
          <li><a href="/">首页</a></li>
          <li><a href="/list/product.html">产品思考</a></li>
          <li><a href="/list/program.html">码农的自我修养</a></li>
          <li><a href="/list/ml.html">机器学习&数学</a></li>
          <li><a href="/list/algorithm.html">数据结构与算法</a></li>
          <li><a href="/list/other.html">杂记</a></li>
          <li><a href="/list/about.html">关于搜不狐&留言</a></li>
        </ul>
      </div>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>

      <div class="inner">
          {% if page.comments %}
          <div id="disqus_thread"></div>
          <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'sobuhu'; // required: replace example with your forum shortname

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
          <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
          {% endif %}
      </div>                                                                                     
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p>Published with <a href="http://www.sobuhu.com" target="_blank">搜不狐</a></p>
        <p>友情链接: <a href="http://www.csxp.info" target="_blank">Machine's World</a></p>
      </footer>
    </div>

    
   <div style="display:none;">
    <script type="text/javascript">
      var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
      document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fee07f023c15d9fd8f9849b4c7cf07537' type='text/javascript'%3E%3C/script%3E"));
    </script>
  </div>

  </body>
</html>
